body {
	background-image: url('/css/img/background.jpg');
	background-position: center;
	background-attachment: fixed;
	/*background-repeat: no-repeat;*/
	background-size: cover;
}

.header{
	height: 170px;
	/*margin-left: 10%;*/
	/*margin-right: 10%;*/
	background-color: rgba(0,0,0,0.5);
	color: white;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
}
.header p {
	padding-bottom: 15px;
}
.logo{
	height: auto;
	width: 200px;
}
/*.header p {
	font-size: 30px;
	margin-left: 5%;
}
.header a{
	padding-top: 500px;
	font-size: 30px;
}*/

.home {
	border: 1px white solid;
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.about {
	border: 1px white solid;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
	padding-bottom: 30px;
	margin-bottom: 180px;
}

footer{
	color: black;
	/*background-color: rgba(0,0,0,0.5);*/
	text-align: center;
	height: 100px;
	margin-top: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* unvisited link */
a:link {
    color: #04B4AE;
}

/* visited link */
a:visited {
    color: #04B4AE;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}