<!-- home page -->
<div class="container home" ng-controller="HomeController">

	<table class="table main">
		<thead>
			<tr>
				<th>Name</th>
				<th>Quantity</th>
				<th>Price (per quantity)</th>
				<th>Expiration Date</th>
				<th class="subtotal">Total (qty*price)</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr class="animated fadeIn">
				<td><input class="form-control" ng-model="product.name"></td>
				<td><input class="form-control" ng-model="product.quantity"></td>
				<td><input class="form-control" ng-model="product.price"></td>
				<td><input class="form-control" ng-model="product.expire" placeholder="mm/dd/yyyy"></td></td>
				<td>&nbsp;</td>
				<td class="after"><button class="addbutton btn btn-primary" ng-click="addProduct()">Add</button></td>
				<td>
					<button class="btn btn-info" ng-click="update()">Update</button>
					
				</td>
				<td>
					<button class="btn btn-success" ng-click="clear()">Clear</button>
					
				</td>
			</tr>
			<tr ng-repeat="product in productlist">
				<td>{{product.name | capitalizefirst}}</td>
				<td>{{product.quantity | number}}</td>
				<td>{{product.price | currency}}</td>
				<td>{{product.expire}}</td>
				<td class="subtotal">{{product.quantity * product.price | currency}}</td>
				<td class="buttons"><button class="btn btn-danger" ng-click="remove(product._id)">Delete</button></td>
				<td class="buttons"><button class="btn btn-warning" ng-click="edit(product._id)">Edit</button></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<td><strong>TOTAL</strong></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="subtotal">{{totalamount | currency}}</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</tbody>
	</table>

</div>
